/.849C9593-D756-4E56-8D6E-42412F2A707B
/243_C12_MA
/243_C13_MA
/Applications
/bas_boitier_hc-05.3mf
/ciruit imprimé(PCB).kicad_dru
/ciruit imprimé(PCB).kicad_pcb
/ciruit imprimé(PCB).kicad_prl
/ciruit imprimé(PCB).kicad_pro
/code_bloc,tinkercad.txt
/desktop.ini
/Documents
/empreinte labo 3.pretty
/English_oral.docx
/Exercice 3.docx
/Feu_Circulation - Copie.zip
/Feu_Circulation.txt
/Feu_Circulation.zip
/fp-info-cache
/fp-lib-table
/Haut_boitier_hc-05.3mf
/hc-05
/hc-05 - Copie
/hebil_Rassim_TP0.docx
/Images
/Mettant l.docx
/Mon parc d'enfance.docx
/oral robotique.docx
/Pièces jointes
/rapport Labo_4.docx
/rapport Labo_4.zip
/RASSIM_HEBIL_PRTFL.xlsx